body{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	letter-spacing: 5px;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230b0b0b' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	position: relative;
	height: 100%;
}

div{
	margin: 0!important;
	padding: 0!important;
}

/* TEXT */

h1{
	font-size: x-large;
	font-weight: bold;
	letter-spacing: 10px;
}

h2{
	font-size: large;
}

p{
	font-size: small;
}

hr{
	border: 0;
	width: 64px;
	position: relative;
	margin: 20px auto;
	border-top: 3px solid #86c232;
	opacity: 100%;
}

::selection {
	color: #080808;
	background: #86c232;
}

/* ANIMATIONS */

.floating{
	animation: float-btn 2.5s infinite linear;
}

.floating:hover{
	animation-play-state: paused;
}

.highlight{
	color: #86c232;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #86c232; }
}

@keyframes float-btn {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.1);
	}
	100%{
		transform: scale(1.0);
	}
}

/* NAVBAR */

.navbar{
	background-color: rgba(0, 0, 0, .9);
	font-size: small;
}

.navbar p{
	font-size: small;
}

.navbar-brand{
	color: #fff;
}

.navbar-brand:hover{
	color: #fff;
}

.typewriter p {
	overflow: hidden; 
	border-right: 2.5px solid #fff;
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: 4px;
	animation: 
	blink-caret .75s step-end infinite;
}

.nav-item a{
	font-size: small;
	transition: .2s;
	color: #fff;
	text-decoration: none;
}

.nav-item a:hover{
	color: #86c232!important;
	text-decoration: underline;
	text-underline-offset: 10px;
}

.nav-link.active {
	color: #86c232;          
}

.navbar-toggler { 
	margin: 0 auto;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(134, 194, 50, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	margin-right: -1em;
} 


.custom-toggler:focus, .custom-toggler:active, .custom-toggler:hover{
	box-shadow: none!important;
	outline: 0;
}

/* SECTIONS */

.home{
	height: 100vh;
	text-align: center;
}

.about{
	height: 100vh;
	text-align: center;
}

.planes{
	height: fit-content;
	text-align: center;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.clientes{
	height: 100vh;
	text-align: center;
}

.footer{
	font-size: small;
	height: 100vh;
}

.copyright{
	text-align: center;
}

.copyright p{
	text-align: center;
	font-size: xx-small;
}

.main-logo{
	width: 50%;
}

.footer-logo{
	width: 80px;
}

/* BUTTONS */

.btn{
	background-color: transparent;
	font-size: small;
	border: solid;
	border-width: thin;
	border-color: #86c232;
	border-radius: 0px;
	color: #86c232;
	letter-spacing: 5px;
	padding: 15px;
	transition: .2s;
	cursor: none!important;
}

.btn:hover{
	background-color: #86c232;
	color: #000000;
	border-color: #86c232;
	transform: translateY(-10%);
}

.btn:focus, .btn:active, .btn:hover{
	box-shadow: none!important;
	outline: 0;
}

/* ICONS */

.plan-icon{
	font-size: 64px;
	background: -webkit-linear-gradient(#86c232, #4b6d1c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

.social-icon{
	width: 32px;
	transition: .2s;
	margin: 10px;
	cursor: none!important;
}

.social-icon:hover{
	filter: brightness(.95);
	transform: translateY(-5%);
}

.social{
	display: table-cell;
	vertical-align: middle;
	font-size: x-large;
	padding-left: 0px;
}

.social li{
	font-size: 25px;
	color: #86c232;
	list-style-type: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding-top: .5px;
	padding-left: 5px;
	border: 1px solid #86c232;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	transition: .3s;
	background-color: transparent;
	cursor: none!important;
}

.social li:hover{
	color: #000;
	background-color: #86c232;
	transform: translateY(-5%);
	border-color: #86c232;
}

/* IMG */

.img-cliente{
	width: 150px!important;
	filter: brightness(0) invert(.9);
	transition: .25s;
}

.img-cliente:hover{
	filter: none;
	transform: translateY(-5px);
}

/* CARDS */

.card{
	background-color: transparent;
	border-color: #86c232;	
	border-width: 1.5px;
	border-radius: 5px;
	text-align: left;
	transition: .2s;
}

.card:hover{
	transform: scale(110%);
	background-color: rgba(134, 194, 50, .8);
	border-color: transparent;
}

.card:hover kursor{
	color: red;
}

.card:hover .highlight{
	color: #000;
}

.card:hover p{
	color: #000;
	font-weight: bold;
}

.card:hover h2{
	font-weight: bold;
}

.card:hover li{
	color: #000;
	font-weight: bold;
}

.card:hover ul{
	color: #000;
}

.card:hover li:before{
	color: #000;
}

.card:hover .plan-icon{
	background: -webkit-linear-gradient(#121212, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card:hover .card-text{
	font-weight: bold;
}

.card:hover .btn{
	border-color: #000;
	color: #000;
	border-width: 1.5px;
	font-weight: bold;
}

.card:hover .btn:hover{
	background-color: #000;
	border-color: #000;
	color: #86c232;
}

.card p{
	font-size: small;
	letter-spacing: 1px;
}

.card ul {
	--icon-space: 1.5em;
	list-style: none;
	padding: 0;
	letter-spacing: 2px!important;

}
.card h1{
	font-weight: bold!important;
}

.card h2{
	font-weight: bold!important;
}

.card li {
	padding-left: var(--icon-space);
	font-size: small;
	padding-bottom: 10px!important;
}

.card li:before {
	content: "\f0e7";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: calc( var(--icon-space) * -1 );
	width: var(--icon-space);
	color: #86c232;
	font-size: medium;
}

.service-icon{
	font-size: medium;
}

.card .btn{
	width: 100%;
}

/* SCREEN */

@media only screen and (max-width: 760px){

	.navbar p{
		font-size: small;
	}

	.navbar a{
		font-size: xx-small;
	}

	.main-logo{
		width: 80%;
	}

	h1{
		font-size: large;
	}

	h2{
		font-size: medium;
	}

	p{
		font-size: x-small;
	}

	.img-cliente{
		width: 125px!important;
	}
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: #080808;
}

::-webkit-scrollbar-thumb {
	background: #86c232;
}

::-webkit-scrollbar-thumb:hover {
	background: #6b9b28;
}
