html, body{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	letter-spacing: 5px;
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='0.5' stroke='hsla(0, 0%, 3%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-212,0)' fill='url(%23a)'/></svg>")
}

div{
	margin: 0!important;
	padding: 0!important;
}

h1{
	font-size: large;
	font-weight: bold;
}

h2{
	font-size: large;
}

.red{
	color: #ef233c;
	font-weight: bold;
}

.typewriter p {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 2px solid #fff; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 4px; /* Adjust as needed */
	animation: 
	blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #ef233c; }
}

.navbar{
	background-color: rgba(0, 0, 0, .9);
	font-size: small;
}

.navbar p{
	font-size: small!important;
}

p{
	font-size: small;
}

.navbar a{
	font-size: small;
	transition: .2s;
}

.navbar a:hover{
	color: #ef233c!important;
}

.navbar-toggler { margin: 0 auto; }


.home{
	height: 100vh;
	text-align: center;
}

.footer{
	font-size: small;
}

.copyright p{
	text-align: center;
	font-size: xx-small;
	padding-top: 10rem!important;
}

.main-logo{
	width: 50%;
}

.footer-logo{
	width: 125px;
}



.btn{
	background-color: transparent;
	font-size: small;
	border: solid;
	border-width: thin;
	border-color: #ffffff;
	border-radius: 0px;
	color: #ffffff;
	letter-spacing: 5px;
	padding: 15px;
	transition: .2s;
}

.btn:hover{
	background-color: #ef233c;
	color: #000000;
	border-color: #ef233c;
	transform: translateY(-10%);
}

.social-icon{
	width: 32px;
	transition: .2s;
	margin: 10px;

}

.plan-icon{
	font-size: 64px;
}

.plan-icon:hover{
	filter: brightness(1.5);
}

hr{
	border: 0;
	width: 5%;
	position: relative;
	margin: 20px auto;
	border-top: 2px solid #ef233c;
	opacity: 100%;
}

.social-icon:hover{
	filter: brightness(.95);
	transform: translateY(-5%);
}

.social{
	display: table-cell;
	vertical-align: middle;
	font-size: x-large;
	padding-left: 0px;
}

.social li{
	font-size: 25px;
	color: rgb(255, 255, 255);
	list-style-type: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding-top: .5px;
	padding-left: 5px;
	border: 1px solid rgb(255, 255, 255);
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	transition: .3s;
	background-color: transparent;
}

.social li:hover{
	color: #000;
	background-color: #ef233c;
	transform: translateY(-5%);
	border-color: #ef233c;
}

.about{
	height: fit-content;
	text-align: center;
}


.clientes{
	height: fit-content;
	text-align: center;
	padding-top: 10rem!important;
	padding-bottom: 10rem!important;
}

.img-mrg{
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.img-cliente{
	width: 150px!important;
	transition: .5s;
}

.img-cliente:hover{
	filter: brightness(.8);
}


/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #070707;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ef233c;
}

@media only screen and (max-width: 760px){
	.navbar a{
		font-size: xx-small;
	}

	.main-logo{
		width: 80%;
	}
}

.card{
	background-color: rgba(0, 0, 0, .2);
	border-color: #fff;
	border-width: 2px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 8);
	text-align: left;
	transition: .5s;
}

.card:hover{
	border-color: #ef233c;
	transform: scale(105%);
}

.card p{
	font-size: small;
	letter-spacing: 1px;
}

.card ul {
	--icon-space: 1.5em;
	list-style: none;
	padding: 0;
	letter-spacing: 2px!important;

}

.card li {
	padding-left: var(--icon-space);
	font-size: small;
	padding-bottom: 10px!important;
}

.card li:before {
	content: "\f05b"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin-left: calc( var(--icon-space) * -1 );
	width: var(--icon-space);
	color: #ef233c;
	font-size: small;
}

.card .btn{
	width: 100%;
}