body{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background-color: #491a6a;
	background-image: url("../img/background/bg.png");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	height: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding-top: 25px;
	transition: .5s;
}


.dark-mode {
	background-color: black;
	background-image: url("../img/background/bg-d.png");
}

div{
	margin: 0!important;
	padding: 0!important;
}

/* TEXT */

h1{
	font-size: 48px;
	letter-spacing: 10px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}

h2{
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 15px;
}

h3{
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 15px;

}

p{
	font-size: small;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 5px;
}

.year{
	color: #ac1c1c;
	background-color: #fff;
	letter-spacing: 0px;
	font-weight: bold;
	font-size: x-small;
}

::selection {
	color: #ac1c1c;
	background: #fff;
}

/* NAVBAR */

.navbar{
	background-color: rgba(0, 0, 0, .2);
	font-size: small;
	transition: .5s;
}

.navbar p{
	font-size: medium;
}

.nav-item a{
	font-size: small;
	transition: .2s;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 4px;
}

.nav-item a:hover{
	color: #fff!important;
	text-decoration: none;
}

.nav-link.active {
	font-weight: bolder;
	font-size: medium;
}

.navbar-toggler { 
	margin: 0 auto;
}

.nav-logo{
	width: 175px;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	margin-right: -1em;
} 


.custom-toggler:focus, .custom-toggler:active, .custom-toggler:hover{
	box-shadow: none!important;
	outline: 0;
}

/* SECTIONS */

.home{
	height: fit-content;
	text-align: center;
}

.pkmn{
	height: fit-content;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 2.5rem;
}

.standing-table{
	background-color: rgba(255, 255, 255, .3);
	font-weight: bolder;
	font-size: x-large;
}

.next{
	background-color: rgba(255, 255, 255, .3);
}

th{
	color: #fff;
}

td{
	color: #fff;
	font-weight: bold;
}

.select{
	transition: .5s;
}

.select:hover{
	background-color: rgba(0, 0, 0, .5);
}

.table{
	letter-spacing: 5px;
}

.rank1{
	background-color: rgba(220, 164, 4, .6);
}

.rank2{
	background-color: rgb(140,140,140, .6);
}

.rank3{
	background-color: rgb(172,100,12, .6);
}


.footer{
	font-size: small;
	height: 100vh;
}

.copyright p{
	text-align: center;
	font-size: xx-small;
}

.main-logo{
	width: 45%;
}

.footer-logo{
	width: 80px;
}

:target:before {
	content: "";
	display: block;
}

/* BUTTONS */

.btn{
	background-color: transparent;
	font-size: small;
	font-weight: bold;
	border: solid;
	border-width: thin;
	border-color: #fff;
	border-radius: 8px;
	color: #fff;
	letter-spacing: 1px;
	padding: 20px;
	transition: .2s;
	cursor: none!important;
	width: 100%;
	height: 100%;
}

.btn:hover{
	background-color: rgba(255, 255, 255, .25);
	color: #fff;
	border-color: #fff;
	transform: translateY(-15%);
}

.btn:focus, .btn:active{
	box-shadow: none!important;
	outline: 0;
}

.btn2{
	background-color: transparent;
	font-size: small;
	font-weight: bold;
	border: solid;
	border-width: thin;
	border-color: #fff;
	border-radius: 8px;
	color: #fff;
	letter-spacing: 1px;
	padding: 20px;
	transition: .2s;
	cursor: none!important;
	width: 200;
	height: auto;
	text-decoration: none;
}

.btn2:hover{
	background-color: rgba(255, 255, 255, .25);
	color: #fff;
	border-color: #fff;
	transform: translateY(-15%);
}

.btn2:focus, .btn2:active{
	box-shadow: none!important;
	outline: 0;
}

.iconx{
	width: 35px;
}

#darkBtn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 90;
	outline: none; 
	background-color: #c31c41; 
	cursor: pointer;
	font-weight: bolder;
	border-color: #fff!important;
	border: solid;
	border-width: 5px;
	transition: 0.5s ease;
	border-radius: 100%;
	padding: 10px!important;
}

#darkBtn:hover {
	background-color: #670e94;
	transform: translateY(-5px);
}

#discordBtn {
	position: fixed;
	bottom: 150px;
	right: 50px;
	z-index: 90;
	outline: none; 
	background-color: #6064f4; 
	cursor: pointer;
	font-weight: bolder;
	border-color: #fff!important;
	border: solid;
	border-width: 5px;
	transition: 0.5s ease;
	border-radius: 100%;
	padding: 10px!important;
}

#discordBtn:hover {
	background-color: #4346ab;
	transform: translateY(-5px);
}

/* DARK MODE */

.dark-mode #darkBtn {
	background-color: #080808; /* Set a background color */
}

.dark-mode #darkBtn:hover {
	background-color: #000;
}

.dark-mode .navbar{
	background-color: rgba(0, 0, 0, .95);
}

.dark-mode .standing-table{
	background-color: rgba(255, 255, 255, .1);
}

.dark-mode .year{
	color: #000;
}

.dark-mode .select:hover{
	background-color: rgba(255, 255, 255, .2);
}

.dark-mode ::selection {
	color: #000;
	background: #fff;
}

/* IMG */

.icon{
	width: 45px;
	margin: 15px;
}

.sponsors{
	width: 200px;
	transition: .5s;
}

.sponsors:hover{
	transform: translateY(-5px);
}

.type{
	width: 90px;
}

.glosary{
	font-size: x-small;
	letter-spacing: 0px;
}

.fa-circle-minus{
}

.fa-circle-up{
	color: #00ff51;
}

.fa-circle-down{
	color: #Ff6a00;
}

.fa-circle-plus{
	color: #00f1ff;
}

.imgx{
	pointer-events: none;
	user-select: none;
}

/* CARDS */

.card{
	background-color: transparent;
	transition: .2s;
	border: none;
}


/* SCREEN */

@media only screen and (max-width: 1024px){

	.dark-mode{
		background-image: url("../img/background/bgm-d.png");
	}

	.navbar{
		background-color: rgba(0, 0, 0, .7);
	}

	.navbar p{
		font-size: small;
	}

	.navbar a{
		font-size: small;
	}

	.nav-logo{
		width: 90px;
	}

	.main-logo{
		width: 100%;
	}

	.home{
		height: 100vh;
	}

	body{
		background-image: url("../img/background/bgm.png");
		background-attachment: scroll;
		background-position: center;
		padding-top: 0px;
	}

	h1{
		font-size: x-large;
	}

	h2{
		font-size: x-large;
	}

	h3{
		font-size: large;
	}

	p{
		font-size: small;
	}

	.standing-table{
		font-size: large;
	}

	tr{
		font-size: small;
	}

	.nav-link.active {
		font-size: small;!important;
	}

	.btn{
		font-size: x-small;
	}

	.type{
		width: 75px;
	}

	.sponsors{
		width: 80%;
	}
}


/* SCROLLBAR */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #e6e6e6;
}